:root {
    --white: #f9f9f9;
    --black: #191919;
    --blue: #01B6D4;
    --orange: #fe7102;
    --darkorange: #af520a;
}

#works {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#project {
  position: relative;
  flex: 1 0 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em;
  margin: 0.5em;
  transition: .5s;
}

#project:hover {
  transform: scale(102%);
  border: 2px dashed var(--white);
}

#project:hover .description {
  background: var(--white);
  border-bottom: #01B6D4 solid 4px;
  box-shadow: var(--black) 2px 2px 4px;
}

#project:hover .description h2 {
  color: var(--black);
}

#project:hover .description p {
  color: var(--black);
}

.description {
  position: absolute;
  display: inline-block;
  right: 40px;
  bottom: 6px;
  padding: 24px;
  background: var(--black);
}

.description h2 {
  color: var(--white);

}

.description p {
  font-family: 'Interstate', monospace;
  text-transform: uppercase;
  letter-spacing: .1em;
  color: var(--white);
}