@font-face {
  font-family: "Interstate";
  src: url(./assets/fonts/Interstate\ Cond\ Mono.ttf) format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: "Interstate";
  src: url(./assets/fonts/Interstate\ Cond\ Mono\ -\ Blk.ttf) format('truetype');
  font-weight: 900;
}

@font-face {
  font-family: "Avant Garde";
  src: url(./assets/fonts/AvantGardeBQ-Bold.otf) format('opentype');
  font-weight: bolder;
}

@font-face {
  font-family: "Avant Garde";
  src: url(./assets/fonts/AvantGardeBQ-Book.otf) format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: "Avant Garde";
  src: url(./assets/fonts/AvantGardeBQ-ExtraLight.otf) format('opentype');
  font-weight: lighter;
}

@font-face {
  font-family: "Avant Garde";
  src: url(./assets/fonts/AvantGardeBQ-Medium.otf) format('opentype');
  font-weight: bold;
}

/* Styles begin for Content */
:root {
  --white: #f9f9f9;
  --black: #191919;
  --blue: #01B6D4;
  --orange: #fe7102;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: content-box;
  font-family: "Avant Garde", Arial, Helvetica, sans-serif;
  font-size: 16px;
  
}

body {
  background: var(--black);
}

h1 {
  font-weight: bold;
  font-size: 3em;
  color: var(--white);
}

h2 {
  font-size: 2em;
  line-height: 1.5em;
  color: var(--white);
}

h3 {
  font-size: 1.5em;
  color: var(--white);
  padding: .5em;
  border-bottom: 1px dashed #01B6D4;
}

aside {
  flex: 1;
  margin: 1em;
}

section {
  flex: 4;
}

main {
  display: flex;
  flex-wrap: wrap;
}

footer {
  text-align: center;
  color: #ccc;
  padding: 2em;
  margin: 1em;
  border-top: 1px dashed #ccc;
}

footer p {
  font-family: 'Interstate', monospace;
  font-weight: 400;
  font-size: .75em;
  text-transform: uppercase;
  letter-spacing: .25em;
}

#about-me {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: .5em;
  margin: 1em;
}

#cv {
  position: relative;
  flex: 1 0 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em;
  margin: 0.5em;
  transition: .5s;
}

#contact-info {
  padding: 1em;
}

#contact-info li {
  font-family: 'Interstate', monospace;
  font-weight: 900;
  font-size: 1.25em;
  letter-spacing: .15em;
  text-transform: uppercase;
  padding: 0.5em 0;
}

#contact-info a {
  display: flex;
  text-decoration: none;
  color: var(--white);
  align-items: center;
  justify-content: flex-start;
  padding: .5em;
}

#contact-info a:hover {
  background: var(--white);
  color: var(--black);
}

#contact-info a svg {
  fill: var(--white);
  -webkit-clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
transition: 1s;
}

#contact-info a:hover svg {
  background: var(--black);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.avatar {
  display: flex;
  flex: 1 0 5%;
}

.bio {
  display: inline-block;
  flex: 10;
  color: var(--white);
}

.bio p {
  font-weight: bold;
  margin: .5em;
  padding-top: .5em;
}

.avatar img {
  max-width: 250px;
margin: 20px;
-webkit-clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
transition: .5s;
}

#about-me:hover .avatar img {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

#icon {
  color: var(--white);
  max-width: 32px;
  max-height: 32px;
  margin-right: 1em;
  transition: .5s;
}

#icon:hover {
  color: var(--blue);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

@media screen and (max-width: 992px) {
  body {
      background: var(--white); 
      background-size: 20%;
      background-repeat: repeat;
  }
  

}