@font-face {
  font-family: "Interstate";
  src: url(./assets/fonts/Interstate\ Cond\ Mono.ttf) format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: "Interstate";
  src: url(./assets/fonts/Interstate\ Cond\ Mono\ -\ Blk.ttf) format('truetype');
  font-weight: 900;
}

@font-face {
  font-family: "Avant Garde";
  src: url(./assets/fonts/AvantGardeBQ-Bold.otf) format('opentype');
  font-weight: bolder;
}

@font-face {
  font-family: "Avant Garde";
  src: url(./assets/fonts/AvantGardeBQ-Book.otf) format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: "Avant Garde";
  src: url(./assets/fonts/AvantGardeBQ-ExtraLight.otf) format('opentype');
  font-weight: lighter;
}

@font-face {
  font-family: "Avant Garde";
  src: url(./assets/fonts/AvantGardeBQ-Medium.otf) format('opentype');
  font-weight: bold;
}

/* Styles begin for Content */
:root {
  --white: #f9f9f9;
  --black: #191919;
  --blue: #01B6D4;
  --orange: #fe7102;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: content-box;
  font-family: "Avant Garde", Arial, Helvetica, sans-serif;
  font-size: 16px;
  
}

body {
  background: var(--black);
}

a { 
  color: var(--orange);
  text-decoration: none;
  font-weight: 900;
}

h1 {
  font-weight: bold;
  font-size: 3em;
  color: var(--white);
}

h2 {
  font-size: 2em;
  line-height: 1.5em;
  color: var(--white);
}

h3 {
  font-size: 1.5em;
  color: var(--white);
  padding: .5em;
  border-bottom: 1px dashed #01B6D4;
}

h4 {
  font-size: 1.25em;
  color: var(--white);
  font-weight: 900;
}

aside {
  flex: 1;
  margin: 1em;
}

section {
  flex: 4;
}

main {
  display: flex;
  flex-wrap: wrap;
}

footer {
  text-align: center;
  color: #ccc;
  padding: 2em;
  margin: 1em;
  border-top: 1px dashed #ccc;
}

footer p {
  font-family: 'Interstate', monospace;
  font-weight: 400;
  font-size: .75em;
  text-transform: uppercase;
  letter-spacing: .25em;
}

#about-me {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: .5em;
  margin: 1em;
}

#cv {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: .5em;
  margin: 2em;
  border: 2px dashed var(--white);
}

#contact-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: .5em;
  margin: 2em;
  border: 2px dashed var(--white);
}

#contact-info li {
  font-family: 'Interstate', monospace;
  font-weight: 900;
  font-size: 1.25em;
  letter-spacing: .15em;
  text-transform: uppercase;
  padding: 0.5em 0;
}

#contact-info a {
  display: flex;
  text-decoration: none;
  color: var(--white);
  align-items: center;
  justify-content: flex-start;
  padding: .5em;
}

#contact-info a:hover {
  background: var(--white);
  color: var(--black);
}

#contact-info a svg {
  fill: var(--white);
  -webkit-clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
transition: 1s;
}

#contact-info a:hover svg {
  background: var(--black);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.avatar {
  display: flex;
  flex: 1 0 5%;
}

.bio {
  display: inline-block;
  flex: 10;
  color: var(--white);
}

.bio p {
  font-weight: bold;
  margin: .5em;
  padding-top: .5em;
}

.avatar img {
  max-width: 250px;
margin: 20px;
-webkit-clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
transition: .5s;
}

#about-me:hover .avatar img {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

#icon {
  color: var(--white);
  max-width: 32px;
  max-height: 32px;
  margin-right: 1em;
  transition: .5s;
}

#icon:hover {
  color: var(--blue);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

@media screen and (max-width: 992px) {
  body {
      background: var(--white); 
      background-size: 20%;
      background-repeat: repeat;
  }
  
  header {
      flex-direction: column;
      padding: 1.5em;
      border: 2px dashed var(--black);
  }

  header .logo svg {
      filter: invert(0);
  }

  h1 {
      color: var(--black);
  }

  h3 {
      color: var(--black);
      border-bottom: 2px dashed var(--black);
  }

  main {
      width: 100%;
      flex-direction: column;
  }

  nav {
      display: flex;
      flex: 1 0 100%;
      margin: 2em;
      
  }

  nav ul {
      min-width: 2em;
  }

  nav li a {
      color: var(--black);
      padding: 1.25em;
  }

  aside {
      order: 2;
  }

  header .logo {
      width: 100%;
      align-items: center;
      justify-content: center;
  }

  #contact-info ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 2em;
  }

  #contact-info li div {
      border: 2px dashed var(--orange);
  }

  #contact-info a {
      width: 100%;
      color: var(--orange);
  }

  #contact-info a svg {
      fill: var(--orange);
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .icon {
      width: 3em;
      max-width: 400px;
      max-height: 400px;
      margin-right: .6em;
  }

  .project {
      flex: 2 1 100%;
  }

  .description {
      right: 18px;
      bottom: 6px;
      padding: 24px;
      background: var(--white);
  }
  
  .description h2 {
      color: var(--black);
  
  }
  
  .description p {
      color: var(--black);
  }

  .avatar img {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .bio p {
      color: var(--black);
      font-size: 1em;
      font-weight: bold;
  }
}

@media screen and (max-width: 576px) {
  * {
      font-size: 12px;
  }
  
  header {
      flex-direction: column;
  }

  header .logo svg {
      max-width: 120px;
      max-height: 120px;
  }

  h3 {
      text-align: right;
  }

  nav ul {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
  }

  nav ul a {
      padding: .25em;
      letter-spacing: .1em;
  }

  nav li:not(:last-child) {
      border-right: 1px solid var(--black);
      padding: 0 8px;
  }

  main {
      flex-direction: column;
  }

  aside {
      order: 2;
  }

  #contact-info ul {
      flex-direction: column;
  }

  #about-me {
      position: relative;
      flex-direction: column;
  }

  #project {
      width: 100%;
      flex: 2 1 100%;
  }

  .avatar img {
      position: absolute;
      top: 1em;
      left: 0;
      margin: 0 0 0 1em;
      max-width: 180px;
  }

  .bio {
      margin-top: 8em;
  }
}